@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 90%;
  margin: 5vw;
}

text {
  font-family: "Pacifico", sans-serif;
  letter-spacing: 0px;
}